:root {
  --clr-bg: rgb(71, 71, 71);
  --clr-cta: rgb(255, 123, 0);
  --btn-primary: salmon;
  --btn-dark: rgb(201, 142, 119);
  --btn-active: #ff9d92;
  --btn-shadow: #8a8a8a;
  --box-shadow-val: 1em 1em 1px var(--btn-shadow);
  --box-shadow-inset: inset 3px 3px 1px var(--btn-shadow);
}

body {
  box-sizing: border-box;
  background-color: var(--clr-bg);
  color: white;
}

.hp-global-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0em 1.5em;
}

.hp-title-container {
  width: 100%;
  height: fit-content;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 10px solid var(--clr-cta);
  border-right: 10px solid var(--clr-cta);
  margin-bottom: 3em;
}

.hp-title {
  font-size: 50px;
  color: rgb(175, 175, 175);
}

.hp-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0.5em 2em;
  text-align: center;
}
.hp-text-box h2 {
  width: fit-content;
  text-align: center;
}

.hp-link-btn {
  transition: all 250ms;
  width: 50%;
  color: var(--clr-cta);
  padding: 0.5em;
  text-align: center;
  border-radius: 26px;
  transition: background-color color 250ms;
  border: 1px solid var(--clr-cta);
}

.hp-link-btn:hover {
  color: var(--clr-bg);
  background-color: var(--clr-cta);
}

.hp-contact-link {
  color: var(--clr-cta);
  transition: transform 250ms;
  transform: scale(0.7);
}
.hp-contact-link:hover {
  color: var(--clr-cta);
  transform: scale(1.1);
}

@media (min-width: 900px) {
  .hp-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
  }

  .hp-title-container {
    text-align: left;
    border-right: none;
  }

  .hp-title {
    font-size: 75px;
  }
}
