:root {
  --clr-bg: rgb(71, 71, 71);
  --clr-cta: rgb(255, 123, 0);
  --btn-primary: salmon;
  --btn-dark: rgb(201, 142, 119);
  --btn-active: #ff9d92;
  --btn-shadow: #000000;
  --box-shadow-val: 1em 1em 1px var(--btn-shadow);
  --box-shadow-inset: inset 3px 3px 1px var(--btn-shadow);
}

body {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: var(--clr-bg);
  color: white;
}

.hp-global-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0em 1.5em;
}

.hp-title-container {
  width: 100%;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-left: 10px solid var(--clr-cta);
  border-right: 10px solid var(--clr-cta);
  margin-bottom: 2em;
  background-color: rgb(75, 75, 75);
  padding: 0 0 1.5em 0;
  box-shadow: 15px 15px 0px black;
}

.hp-title {
  font-size: 50px;
  color: rgb(175, 175, 175);
}

.hp-header-contact {
  color: rgb(175, 175, 175);
  letter-spacing: normal;
}

.hp-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1.5em 2em 1.5em;
  text-align: center;
}
.hp-text-box h2 {
  width: fit-content;
  text-align: center;
}
.hp-text-box p {
  width: fit-content;
  text-align: center;
}

.hp-link-btn {
  transition: all 250ms;
  width: 50%;
  color: var(--clr-cta);
  padding: 0.5em;
  text-align: center;
  border-radius: 26px;
  transition: background-color color 250ms;
  border: 1px solid var(--clr-cta);
}

.hp-link-btn:hover {
  color: var(--clr-bg);
  background-color: var(--clr-cta);
}

.hp-contact-link {
  color: var(--clr-cta);
  transition: transform 250ms;
  transform: scale(0.7);
}
.hp-contact-link:hover {
  color: var(--clr-cta);
  transform: scale(1.1);
}

.projects-navbar-ctn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid grey;
}

.projects-navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.projects-navbar-ctn h1 {
  text-align: left;
  left: 5em;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.projects-navbar-link {
  color: white;
  position: relative;
  padding: 1.5em;
  transition: all 250ms;
}

.projects-navbar-link::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: var(--clr-cta);
  width: 100%;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 250ms;
}

.projects-navbar-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.projects-navbar-link:hover {
  /* background-color: var(--clr-cta); */
  color: white;
}
.projects-navbar-link:active {
  color: var(--clr-cta);
}

.projects-bottom-bar {
  border: 1px solid red;
  width: 100%;
}

.metro-form-ctn {
  width: 50%;
}

.metro-form-ctn form {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  margin: 1em;
}

.metro-form-ctn form input {
  padding: 0.5em;
}

@media (min-width: 900px) {
  .hp-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    height: 70%;
  }

  .hp-title-container {
    text-align: left;
    border-right: none;
    letter-spacing: 1em;
    padding: 0.5em;
    flex-direction: row;
    box-shadow: none;
  }

  .hp-title {
    text-overflow: ellipsis;
  }

  .hp-text-box {
    background-color: rgb(75, 75, 75);
    padding: 1.5em;
    height: 100%;
  }
}
