:root {
  --clr-cta: rgb(255, 123, 0);
  --clr-cta-light: rgb(252, 173, 99);
  --clr-cta-dark: rgb(185, 92, 4);
  --btn-dark: rgb(201, 142, 119);
  --btn-active: #ff9d92;
  --btn-shadow: #242424;
  --metro-shadow-val: 3px 3px 1px var(--btn-shadow);
  --box-shadow-inset: inset 3px 3px 1px var(--btn-shadow);
}

body {
  box-sizing: border-box;
}

.metro-text-box {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
}

.metro-text-box p {
  padding: 0.5em 0.5em;
}

.metro-link-btn-ctn {
  min-height: 10%;
  padding: 3em 0em;
}

.metro-link-btn {
  background-color: transparent;
  color: var(--clr-cta);
  width: fit-content;
  height: fit-content;
  border: 1px solid var(--clr-cta);
  border-radius: 20px;
  transition-duration: 250ms;
  transition-property: background-color, transform, box-shadow;
  padding: 1em;
  margin: 1.5em;
}

.metro-link-btn:hover {
  background-color: var(--clr-cta);
  color: black;
  box-shadow: var(--metro-shadow-val);
  border: none;
}

.metro-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1.5em;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  max-width: 350px;
  border-top: 1px solid var(--clr-cta);
  border-left: 1px solid var(--clr-cta);
  border-radius: 26px;
  padding: 1em;
  box-shadow: 5px 5px 2px black;
}

.metro-title {
  grid-column-start: span 3;
  align-self: center;
  text-align: center;
  color: var(--clr-cta);
}

.metro-title h1 {
  text-shadow: none;
  transition: 250ms;
}
.metro-title h1:hover {
  text-shadow: 2px 2px 1px #3a3a3a;
  cursor: crosshair;
  color: var(--clr-cta-light);
}

.bpm-display {
  border: 1px solid var(--clr-cta);
  grid-column-start: span 3;
  grid-row-start: 3;
  text-align: center;
  font-size: 2.5rem;
  background-color: transparent;
  border-radius: 25px;
  transition: 20ms;
  z-index: 10;
  /* outline: none; */
  cursor: pointer;
  color: var(--clr-cta-light);
}

.bpm-display.flash {
  transition: 75ms;
  background-color: var(--clr-cta-light);
  color: black;
  /* box-shadow: var(--box-shadow-inset); */
}

.bpm-range {
  grid-column-start: span 3;
  grid-row-start: 2;
}

.metro-btn {
  grid-row-start: 4;
  background-color: var(--clr-cta);
  border: lightgrey;
  margin: 0.5rem;
  border-radius: 20px;
  max-width: 7.5em;
  max-height: 3em;
  min-height: 3em;
  /* transition-duration: 250ms;
  transition-property: background-color, transform, box-shadow;
  -webkit-transition-duration: 250ms;
  -webkit-transition-property: background-color, transform, box-shadow; */
}

.metro-btn:hover {
  background-color: var(--clr-cta-light);
  transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  box-shadow: var(--metro-shadow-val);
}

.metro-btn:focus {
  outline: none;
}
.metro-btn:active {
  outline: none;
  background-color: var(--clr-cta-dark);
  box-shadow: 0px 0px 3px rgb(175, 123, 101);
}

.metro-btn.tap {
  grid-row-start: 5;
  grid-column-start: 2;
  align-self: center;
}

.dd-container {
  grid-row-start: 6;
  grid-column-start: span 3;
  appearance: none;
  margin: 0.5em;
}

.dd-header,
.dd-header:focus {
  grid-column-start: span 3;
  position: relative;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5em;
  padding: 1.5em 1.5em;
  width: 100%;
  outline: none;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.dd-list.hidden {
  display: none;
  opacity: 0%;
  transition: all 500ms;
  transform: translateX(200%);
}

.dd-list.closing {
  transform: translateX(300%);
  opacity: 0%;
  transform-origin: top center;
  transition: all 500ms;
}

.dd-list {
  transition: all 500ms;
  animation: dropdown 500ms;
  transform: translateX(0%);
  opacity: 100%;
  margin-bottom: 1em;
  position: absolute;
  display: block;
}

.sound-option {
  margin: 0.5em 3em 0.5em 1em;
  padding: 1em;
  height: 85%;
  width: 75%;
  border-radius: 26px;
  transition-property: background-color, transform, box-shadow;
  transition-duration: 150ms;
  background-color: var(--clr-cta);
  cursor: pointer;
  color: black;
}
.sound-option:hover {
  box-sizing: border-box;
  transform: scale(1.01);
  box-shadow: var(--metro-shadow-val);
  background-color: var(--clr-cta-light);
}
.sound-option:active {
  background-color: var(--clr-cta-dark);
}
.sound-option:focus {
  background-color: aqua;
}

.custom-arrow {
  background: var(--clr-cta);
  display: block;
  height: 100%;
  width: 20%;
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 5em;
  border-bottom-right-radius: 5em;
  /* pointer-events: none; */
}

.custom-arrow::after,
.custom-arrow::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  --size: 0.55em;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-arrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 37%;
}
.custom-arrow::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 60%;
}

.custom-arrow:hover::after {
  border-top: var(--size) solid var(--clr-cta-light);
}
.custom-arrow:hover::before {
  border-bottom: var(--size) solid var(--clr-cta-light);
}

@media (min-width: 900px) {
  .global-ctn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
    padding: 5em;
  }

  .metro-btn {
    opacity: 100%;
  }

  .metro-box-container {
    max-width: 40%;
    min-width: 45%;
    padding: 0em 3em;
  }

  .metro-text-box {
    max-width: 400px;
    min-width: 400px;
  }
  .metro-text-box p {
    border-radius: 50%;
  }
}
