.pg-global {
  box-sizing: border-box;
  padding: 3em;
}

.pg-list-ctn {
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5em;
  position: relative;
}

.pg-item {
  transition: all 250ms;
  height: 10em;
  text-align: center;
  background-image: url(https://source.unsplash.com/random);
}

.pg-item:hover {
  transform: translateY(2%) scale(1.05);
  background-blend-mode: multiply;
  background-color: grey;
  border: 0.5px solid grey;
}
