:root {
  --clr-bg: rgb(71, 71, 71);
  --clr-cta: rgb(255, 123, 0);
  --btn-shadow: #8a8a8a;
  --box-shadow-val: 1em 1em 1px var(--btn-shadow);
  --box-shadow-inset: inset 3px 3px 1px var(--btn-shadow);
}

.video-list-ctn {
  padding: 1.5em;
}

.video-list-item-ctn img {
  width: auto;
  height: auto;
}

.video-list-item-content {
  background: none;
}

.selected-video-ctn {
  background-color: none;
  padding: 1.5em;
}

.selected-video-content {
  background: none;
}

@media (min-width: 900px) {
  .video-list-ctn {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5em;
    position: relative;
  }

  .video-list-item-ctn {
    display: flex;
    flex-direction: column;
    transition: all 250ms;
    text-align: center;
    position: relative;
    min-height: 15em;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
  }

  .video-list-item-ctn:hover {
    transform: scale(1.05);
    background-blend-mode: multiply;
    cursor: pointer;
    background-color: grey;
  }

  .video-list-item-content {
    width: 100%;
    height: 100%;
  }

  .selected-video {
    display: flex;
    flex-direction: row;
  }
}
