:root {
  --clr-bg: rgb(71, 71, 71);
  --clr-cta: rgb(255, 123, 0);
  --btn-shadow: #8a8a8a;
  --box-shadow-val: 1em 1em 1px var(--btn-shadow);
  --box-shadow-inset: inset 3px 3px 1px var(--btn-shadow);
}

.video-list-ctn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.video-list-item-ctn {
  padding: 1.5em;
  display: flex;
  flex-direction: row;
}

.video-list-item-ctn img {
  width: 50%;
  height: 50%;
}

.video-list-item-content {
  background: none;
}

.selected-video-ctn {
  background-color: none;
  padding: 1.5em;
}

.selected-video {
  display: flex;
  flex-direction: row;
}

.selected-video-content {
  background: none;
}
